<style>
    .mainSheet {
        display: grid;
        grid-template-columns: '1fr 1fr 1fr 1fr 1fr 1fr';
        grid-column-gap: 10px;
    }

    .sectionHeader {
        grid-column: 1/ span 6;
        text-align: center;
        border-bottom: 1px solid black;
    }
</style>

<div class="mainSheet" ...attributes>
    <!-- Info -->

    <!-- Trackers -->
    <div class="sectionHeader">Trackers</div>
    {{#each this.trackerBoxes as |trackerBox|}}
    <div style="grid-column-end: span 3">
        {{{trackerBox}}}
    </div>
    {{/each}}
    <!-- Attributes -->
    <div class="sectionHeader">Attributes</div>
    <div style="grid-column-end: span 2" class="stat_type_head">Physical</div>
    <div style="grid-column-end: span 2" class="stat_type_head">Social</div>
    <div style="grid-column-end: span 2" class="stat_type_head">Mental</div>
    {{#each this.attributes as |attrib|}}
    <div style="grid-column-end: span 2">
        {{wod5e-dot-display data=attrib}}
    </div>
    {{/each}}

    <!-- Skills -->
    <div class="sectionHeader">Skills</div>
    {{#each this.skills as |skill|}}
    <div style="grid-column-end: span 2">
        {{wod5e-dot-display data=skill}}
        {{#each skill.specialties as |spec|}}
        <div>&nbsp;&nbsp;-{{{spec}}}</div>
        {{/each}}
    </div>
    {{/each}}

    <!-- Advantages -->
    <div class="sectionHeader">Advantages</div>
    {{#each this.advantages as |advantage|}}
    <div style="grid-column-end: span 3">
        <div style="display: grid; grid-template-columns: 1fr 1fr">
            <div>{{{advantage.name}}}</div>
            <div style="text-align: right">{{{advantage.value}}}</div>
        </div>
    </div>
    {{/each}}

    <!-- Perks -->
    <div class="sectionHeader">{{{@sheet.powers_title}}}</div>
    {{#if (eq @sheet.type 'hunter')}}
    {{#each this.edges as |edge|}}
    <div style="grid-column-end: span 3">
        {{{edge.name}}}
    </div>
    {{/each}}
    {{/if}}
    
</div>