<style>
    .mainSheet {
        display: grid;
        grid-template-columns: '1fr 1fr 1fr 1fr 1fr 1fr';
        grid-column-gap: 10px;
    }

    .sectionHeader {
        grid-column-end: span 6;
        text-align: center;
        border-bottom: 1px solid black;
    }
</style>

<div class="mainSheet">
    <!-- Attributes -->
    <div class="sectionHeader">Attributes</div>
    <div style="grid-column-end: span 2" class="stat_type_head">Physical</div>
    <div style="grid-column-end: span 2" class="stat_type_head">Social</div>
    <div style="grid-column-end: span 2" class="stat_type_head">Mental</div>
    {{#each (this.formatAttribs @sheet) as |attrib|}}
    <div style="grid-column-end: span 2">
        {{wod5e-dot-display name=attrib.name value = attrib.value }}
    </div>
    {{/each}}

    <!-- Skills -->
    <div class="sectionHeader">Skills</div>
    {{#each (this.formatSkills @sheet) as |skill|}}
    <div style="grid-column-end: span 2">
        {{wod5e-dot-display name=skill.name value=skill.value }}
        {{#each skill.specialties as |spec|}}
        <div>&nbsp;&nbsp;-{{{spec}}}</div>
        {{/each}}
    </div>
    {{/each}}

    <!-- Advantages -->
    <div class="sectionHeader">Advantages</div>
    {{#each (this.formatAdvantages @sheet) as |advantage| }}
    <div style="grid-column-end: span 3">
        {{wod5e-dot-display name=advantage.name value=advantage.format_value}}
        {{#each advantage.children as |child| }}
        {{wod5e-dot-display name=child.name value=advantage.value}}
        {{/each}}
    </div>
    {{/each}}

    <!-- Perks -->
    <div class="sectionHeader">{{{this.getPowerHeader @sheet}}}</div>
    {{#if (eq (this.getType @sheet) 'hunter')}}
    {{#each (this.formatEdges @sheet) as |edge| }}
    <div style="grid-column-end: span 3">
        {{{edge}}}
    </div>
    {{/each}}
    {{/if}}

    {{!-- {{{@sheet}}} --}}
</div>